  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

    :root { /*Reusable Variables*/
      --font-size-small: 1.8rem;
      --font-size-normal: 2.2rem;
      --font-size-medium: 2.8rem;
      --font-size-medium-1: 3.6rem;
      --font-size-large: 5.5rem;
      --font-size-huge: 7.5rem;
      --font-stack: 'Nunito Sans', sans-serif;

      --line-height-normal: 1.7;
      --line-height-small: 1.2;

      --black: #000;
      --blue: #00AAFF;
      --light-blue: #66CCFF;
      --dark-blue: #0088CC;
      --white: #ffffff;
      --grey: #CCCCCC;

      --container-max-width: 1180px;
      --container-normal-width: 800px;
      --container-medium-width: 700px; 
      --container-small-width: 500px;

      --gutter-huge: 12rem;
      --gutter-medium: 6rem;
      --gutter-normal: 3rem;
      --gutter-small-1: 2.5rem;
      --gutter-small: 2rem;

      --border-light: 1px solid rgb(36, 35, 35);
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  .navbar {
      background-color: #333333 !important;
      font-family: 'Nunito Sans', sans-serif;
      font-size: larger;
      color: var(--black);
    }
  
  .nav-link{
    color: white !important;
  }

  .custom-navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10rem;  /* Adjust the left padding as needed */
    padding-right: 10rem; /* Adjust the right padding as needed */
}

  .navbar-brand:hover {
    transform: scale(1.05); /* Scale the logo on hover (adjust as needed) */
  }

  .navbar-nav .nav-item:hover .nav-link {
    color: #00AAFF !important; 
    transition: color 0.3s ease;
    text-decoration: underline;
  }

  .col-md-6{
    padding-bottom: 2rem;
  }

  .col-md-4{
    margin-bottom: 2rem;
  }

  .navbar-brand-container {
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-grow: 1; 
  }
 

  .row {
    max-width: var(--container-max-width);
    margin: 0 auto;
    justify-content: center;
}
 
  .body {
      font-family: 'Nunito Sans', sans-serif;
    }

    .paragraph {
      margin-bottom: 1.5em; 
  }
  


  .btn-primary{
    background-color: #0088CC;
  }

  .lead{
    padding-bottom: 1rem;
    font-weight: 400;
    color: #333333;
  }

  /* FOOTER */
  footer {
    background-color: #333333;
    color: #FFFFFF;
    padding-top: 0px;
    text-align: center;
    padding: var(--gutter-normal) 0 var(--gutter-normal);
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer-section {
    margin-bottom: 2rem;
  }
  
  .footer-section h3 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .footer-section a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .footer-bottom {
    background-color: #222222;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 12px;
    margin: 0;
  }

  .footer__social-links {
    display: flex;
    justify-content: center;
    padding:  1rem;
    list-style: none;
}

  .footer__social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-small);
  }

  .footer__social-image {
    height: 2.5rem;
  }

  .bootstrap-link {
    transition: color 0.3s ease; 
}

  .bootstrap-link:hover {
      color: #00AAFF; 
  }

  .card-img-top{
    max-height: 10rem;
  }

  

  .card-body{
    text-align: center;
  }

  .card-body img {
    transition: transform 0.2s ease-in-out;
}

  .card-body img:hover {
      transform: scale(1.05);
  }


  #portfolio {
    padding: 2rem 0;
    margin-bottom: 0;
  }

  .portfolio-header{
    margin-top: 2rem;
    padding-bottom: 1rem;
    /*text-decoration: underline;*/
  }

  .header-bg {
    background-image: url("../img/whitegray.jpg"); /*Image by rawpixel.com</a> on Freepik https://www.freepik.com/free-vector/white-gray-hexagon-pattern-background_16398206.html*/
    background-size: cover; 
    border-radius: 0;
    
  }

  /*ABOUT SECTION STYLES*/
  .about-container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

  .about-content {
      text-align: center; 
  }

  .about-title {
      font-size: 4rem; 
  }

  .about-me-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

  .section ul {
    padding-left: 20px; 
  }
  
  .section ul li {
    margin-bottom: 10px; 
  }


  /* STYLE GUIDE */

  .style-guide-container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 20px; 
  }

  .primary-blue-bg {
    background-color: #00AAFF;
    color: #FFFFFF;
    padding: 10px;
  }

  .light-blue-bg {
    background-color: #66CCFF;
    color: #333333;
    padding: 10px;
  }

  .dark-blue-bg {
    background-color: #0088CC;
    color: #FFFFFF;
    padding: 10px;
  }

  .grey-bg {
    background-color: #CCCCCC;
    color: #333333;
    padding: 10px;
  }

  .dark-grey-bg {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
  }

  .section {
    margin-bottom: 30px;
  }

  h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: var(--font-size-large);
    color: var(--blue);
  }

  .nameheader{
    font-size: 5rem;
    font-weight: 900;
  }

  .project-title{
    font-family: 'Nunito Sans', sans-serif;
    font-size: var(--font-size-medium);
    color: var(--blue);
  }

  .project-image{
    max-width: 45rem;
  }

  .project-image2{
    width: 100%;
  }

  .project-image3{
    max-height: 18rem;
  }

  .main-list {
    margin-left: 20px;
  }

  .sub-list {
    margin-left: 20px;
  }

  .icbc-list ol{
    list-style-type: none;
  }

  @media (max-width: 992px) {
    /*
    .col-md-6 {
      text-align: center;
    }*/

    .custom-navbar {
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      padding-left: 1rem;  /* Adjust the left padding as needed */
      padding-right: 1rem; /* Adjust the right padding as needed */
  }

  .nameheader{
    font-size: 3.5rem;
    font-weight: 900;
  }

  
  }

  @media (min-width: 576px){
  .jumbotron {
      padding: 13rem 2rem;}
  }

  .jumbotron {
    margin: 0;
  }
    

  /*Citation Styles*/
  .citation-container{
    margin-bottom: 3rem;
  }
  